name: "Test workflow"

on:
  push:
    branches: [ main ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Test action
      uses: zbazztian/actiontest@main
      with:
        jira_url: irgendwatt
